header{
    text-align: center;
    background: black;
    font-family: 'Jomhuria', cursive;
    color: white;
    font-size: 200px;
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.subtitle{
    font-size: 50px;
    height: 15px
}
.titlediv{
    width: 400px;
    margin: 0px;
    border-top: 5px solid black;
    border-bottom: 30px solid white
}
#eye-image{
    margin-top: 20px;
    width: 40%;
    height: 400px;
    margin-bottom: 100px;
}
#intro{
    font-family: fantasy;
    font-size: 20px;
    width: 50%;
    float: right;
    border: 5px double black;
    padding: 5px;
}
#scir-img{
    width: 50%;
    height: 500px;
    float: right;
}
.room-image-container{
    width: 60%;
    margin-top: 30px;
    display: inline-block;
    vertical-align: middle;
}
#room-img{
    vertical-align: top;
    width: 100%
}
.right1{
    font-size: 25px;
    width: 35%;
    float: right;
    font-family: 'Libre Baskerville', serif;
}
.right{
    font-size: 25px;
    width: 50%;
    float: right;
    font-family: 'Libre Baskerville', serif;
}
.left{
    font-size: 25px;
    width: 40%;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 50px;
    margin-top: 0px
}
#ending{
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    text-align: center
}
#subd2{
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 5px solid black;
    width: 50%
}
#subd3{
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 5px solid black;
    width: 30%
}
#intc-img{
    margin-top: 50px;
    width: 45%;
    height: 400px;
    margin-bottom: 100px;
}
#bookint-img{
    width: 40%;
    height: 400px;
    position: relative;
    float: right
}
.author{
    width: 50%;
    border: 5px dotted black;
    padding: 5px
}
hr.solid-div {
    margin-top: 80px;
    border-top: 15px dashed rgb(51, 51, 51);
    margin-bottom: 10px;
  }
footer{
      font-size: 30px;
      text-align: center;
      color: black;
      font-family: 'Pangolin', cursive;
  }