#container {
  margin: auto;
  width: 550px;
}

body{
    background:linear-gradient(#B0e3f3, #2a8cab) fixed;
}
#myCanvas {
  background-color: #Dbf5df;
  border: 3px red solid;
  border-color:black;
}


#score {
  width: 550px;
  height: 100px;
  margin: auto;
  background-color: #D4f9f8;
  border-radius:10px;
  text-align:center;
  font-family: 'Bangers', cursive;
  font-size:40px;
  padding-top:20px;
  border-style: solid;
}

#type{
    font-family: 'Acme', sans-serif;
    font-size:20px;
    top:-400px;
    position:relative;
    left:3px;
    height:200px;
    background: rgba(70, 61, 255, 0.3);
    text-align:center;
    padding-top:100px;
    z-index:2;
}
#input{
    height:20px;
}

#b1{
    height:30px;
}

a {
  text-decoration: none;
  color: black;
}



#myfinal{
    color:blue;
}

#scores{
    font-family: 'Bangers', cursive;
    position:absolute;
    left:60px;
    top:100px;
    font-size:30px;
}

#gameover {
  position: relative;
  background-color:white;
  opacity:0.8;
  font-size: 25px;
  text-align: center;
  color: blue;
  display: none;
  margin:auto;
  width:300px;
  border-radius:10px;
  padding-top: 15px;
  top:-300px;
}
